Pluralsight.Owin.Demo/Pluralsight.Owin.Demo/obj/
Pluralsight.Owin.Demo.Hosting/.vs/
Pluralsight.Owin.Demo.Hosting/Pluralsight.Owin.Demo.Hosting/bin/
Pluralsight.Owin.Demo.Hosting/Pluralsight.Owin.Demo.Hosting/obj/
Pluralsight.Owin.Demo.Hosting/Pluralsight.Owin.Demo.Tests/bin/
Pluralsight.Owin.Demo.Hosting/Pluralsight.Owin.Demo.Tests/obj/
Pluralsight.Owin.Demo.Hosting/packages/

