packages/
TripCompany.IdentityServer/bin
TripCompany.IdentityServer/obj/
TripGallery.API/bin/
TripGallery.API/obj/
TripGallery.AngularClient/bin/
TripGallery.DTO/bin/
TripGallery.DTO/obj/
TripGallery.MVCClient/bin/
TripGallery.MVCClient/obj/
TripGallery.Constants/bin/
TripGallery.Constants/obj/
TripGallery.Repository/bin/
TripGallery.Repository/obj/
TripCompany.IdentityServer/TripCompany.IdentityServer.csproj.user
TripGallery.API/TripGallery.API.csproj.user
TripGallery.MVCClient/TripGallery.MVCClient.csproj.user
TripGallery.v12.suo
.vs/TripGallery/

